<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  {{ partial "head.html" . }}
  <script>
    function _redirect(siteBaseUrl) {
      var baseUrl = window.location.origin.replace(/\/$/, '');
      if (baseUrl != siteBaseUrl) {
        location.href = '{{ .Site.BaseURL }}';
      }
    }
    _redirect('{{ .Site.BaseURL }}'.replace(/\/$/, ''));
    window.obfuscatedEmail = {{ .Site.Params.ObfuscatedEmail | safeHTML }};
  </script>
    <!-- js -->
    <script src="{{ "js/jquery-3.4.1.min.js" | relURL }}"></script>
    <script src="{{ "js/index.js" | relURL }}"></script>
  <body>
    {{ partial "nav.html" . }}
    <!-- Page Header -->
    {{ block "header" .}}
    <!-- <header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <div class="site-heading">
                        <!-- <h1>{{ .Site.Title}} </h1>
                        <!--<hr class="small">
                      <span class="subheading">{{ .Site.Params.slogan }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    {{ end }}
    <main>
      {{ block "main" . }} {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
  <!-- JS -->
  <script src="{{ "js/popper.min.js" | relURL }}"></script>
  <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
</html>
