<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-12">

      <div class="text-justify text-center mt-3">
        {{ .Content }}
      </div>

    </div>
  </div>
</div>
