<!-- Pagination -->
{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pager d-flex justify-content-center">
    {{ if $pag.HasPrev }}
    <li class="previous">
        <a href="{{ $pag.Prev.URL }}">&larr; Newer Posts</a>
    </li>
    {{ end }}
    {{ if $pag.HasNext }}
    <li class="next">
        <a href="{{ $pag.Next.URL }}">Older Posts &rarr;</a>
    </li>
    {{ end }}
</ul>
{{ end }}
