<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-12">

      <div class="text-center mb-5 mt-3">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
          <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
        <div class="mt-4">
          <h3><a href="/"><button type="button" class="btn btn-primary">Subscribe</button></a></h3>
        </div>
      </div>

      <div class="text-justify post-content">
        {{ .Content }}
      </div>


      <!-- {{ partial "promo.html" . }} -->

    </div>
  </div>

  <div class="mt-5 mb-5 text-center">
    <h3><a href="/"><button type="button" class="btn btn-primary">Subscribe</button></a></h3>
  </div>

  <!-- {{ partial "subscribe.html" . }} -->

  <!-- {{ partial "promo.html" . }} -->
</div>
