<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="entry-preview pt-3 pb-3">
  <a href="{{ .Permalink }}">
    <h2 class="entry-title text-center mb-2">{{ .Title }}</h2>
    <p class="entry-meta mb-3">
      <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="entry-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    </p>
  </a>

  <div class="entry-preview-content">
    {{ with .Description }}
      {{ . }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>


  <div class="mt-3 text-center">
    <i><a href="{{ .Permalink }}" class="read-more-btn">KEEP READING</a></i>
  </div>

  {{ if .Truncated }}
  {{ end }}

</div>
{{ if ne $index (sub (len $.Paginator.Pages) 1) }}<hr>{{ end }}
{{ end }}
<div class="mb-5"></div>
